<footer class="footer">
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <a class="" href="https://www.codekaroyaaro.com/">
          <p style="margin-bottom: 10px;">Home</p>
        </a>
        <a class="" href="https://www.codekaroyaaro.com/about-us">
          <p style="margin-bottom: 10px;">About Us</p>
        </a>
        <p style="margin-bottom: 5px;">
          <!-- Home -->
        </p>
        <a class="" href="/contributors">
          <p style="margin: 0;">Contributors</p>
        </a><br>
        <p>Email: info@codekaroyaaro.com</p>
        <p>Address : H NO. 1951, Near Water Tank Annamod, Khaparkheda, Nagpur, Maharashtra, 441102 Us</p>
        <p>&copy Code Karo Yaaro, 2021 | All Rights Reserved<br></p>
        <p>Powered by Suvidha Foundation (NGO- Registered Under the Act of 1860)<br></p>
      </div>
      <a class="" target="_blank" href="https://drive.google.com/file/d/1GPqp5osrCwl7tUxugaDMG0kmS_12i3sq/view?usp=sharing">
        <p style="margin-bottom: 10px;">How to Use?</p>
      </a>

    </div>
  </div>
</footer>
</body>